<ul class="social list-group col-xs-4">
	<li class="list-group-item github">
		<a class="small" href="https://github.com/{{ site.github_username }}" target="_blank">
			<i class="fa fa-github fa-lg">&nbsp;&nbsp;3dimention/boneyard</i>
		</a>
	</li>
	<li class="list-group-item npm">
		<a class="small" href="https://npmjs.com/package/boneyard" target="_blank">
			<i class="fa fa-npm fa-lg">&nbsp;&nbsp;boneyard</i>
		</a>
	</li>
	<li class="list-group-item twitter">
		<a class="small" href="https://twitter.com/patokuakman" target="_blank">
			<i class="fa fa-twitter fa-lg">&nbsp;&nbsp;patokuakman</i>
		</a>
	</li>
</ul>
