<!DOCTYPE html>
<html>
	<head>
		<title><%= name %> | SpinalJS Composer Tool v<%= version %></title>
		<script type="text/javascript" src="libs/require.js" data-main="<%= main %>" data-spec="<%= mainSpec %>"></script>
		<script type="text/javascript" src="http://localhost:9494/socket.io/socket.io.js"></script>
		<script type="text/javascript">
			var socket = io.connect('http://localhost:9494/', { 'sync disconnect on unload': true });
			socket.on('reload', function() { document.location.reload(); });
		</script>
	</head>

	<body>
		<div id="global"><h2><%= name %></h2></div>
		<script type="text/javascript">require(['ioc/context']);</script>
	</body>
</html>
