src/libs
coverage
dist/build.txt
benchmark/spinal-*.html
apidocs
composer-app
test/templates
test/themes
.backup
*-SNAPSHOT.*
*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz

.DS_Store
pids
logs
results
npm-debug.log
node_modules
bower_components
