$base-font-family: "Open Sans", Helvetica, Arial, sans-serif;
$base-font-size:   16px;
$base-font-weight: 400;
$small-font-size:  $base-font-size * 0.875;
$base-line-height: 1.5;

$spacing-unit:     30px;

$text-color:       #555;
$background-color: #fdfdfd;
$bg-color:         #32323c;
$brand-color:      #2a7ae2;

// Palette
$colorA: #556270;
$colorB: #FAD089;
$colorC: #FF9C5B;
$colorD: #F5634A;
$colorE: #ED303C;
$colorF: #3B8183;

$grey-color:       #828282;
$grey-color-light: lighten($grey-color, 40%);
$grey-color-dark:  darken($grey-color, 25%);

$content-width:    800px;
$on-palm:          600px;
$on-laptop:        800px;
