@charset "utf-8";

.bar {

	position: absolute;
	top: 0;
	background-color: $bg-color;
	width: 100%;
	margin: 0 auto;
	height: 70px;

	ul.stripes {
		position: relative;
		margin: 0;
		padding: 0;
		list-style: none;
		top: 65px;
		li {
			float: left;
			height: 5px;
			&.ca { background-color: $colorB; width: 20%; }
			&.cb { background-color: $colorC; width: 20%; }
			&.cc { background-color: $colorD; width: 20%; }
			&.cd { background-color: $colorE; width: 20%; }
			&.ce { background-color: $colorF; width: 20%; }
		}
	}

}

header {

	font-family: "Questrial", Helvetica, Arial, sans-serif;
	height: 70px;

	.logo {
		margin: 10px 0 ;
		padding: 0;
	}

}

@import 'header/social',
	'header/menu';
