@charset "utf-8";

.bar {

	position: absolute;
	top: 0;
	background-color: $colorD;
	width: 100%;
	margin: 0 auto;
	height: 40px;

}

header {
	margin: 20px 0;

	.logo {
		padding: 0;
	}

}

@import 'header/social',
	'header/menu';
