@charset "utf-8";

footer {

	font-family: "Questrial", Helvetica, Arial, sans-serif;
	font-size: 85%;
	background-color: $bg-color;
	height: 60px;
	padding: 10px 0;

	.copyright {

		line-height: 20px;
		margin: 0;
		color: transparentize(white, 0.7);

		i.fa-heart {
			color: $colorE;
			padding: 0 3px;
		}

		a.btn-link {

			color: $colorC;
			font-weight: 700;

			&:hover {
				-webkit-transition: color 0.3s;
				color: lighten($colorC, 10%);
				text-decoration: none;
			}

		}

	}

	.hosted {

		height: 40px;
		padding: 5px 0;

		span { vertical-align: middle; margin-right: 15px; margin-top: 5px; display: inline-block; }
		img { width: 100px; opacity: 0.5; }

	}

}
