@charset "utf-8";

ul.nav {

	margin: 10px 0;
	font-size: 85%;
	padding: 5px 0px;

	&.nav-pills > li {
		float: right;
		margin: 0 10px;
	}

	&.nav-pills > li > a {
		padding: 7px 10px;
		color: white;
		background-color: transparent;
	}

	&.nav-pills > li.active > a,
	&.nav-pills > li.active > a:hover,
	&.nav-pills > li.active > a:focus {
		color: $colorC;
		background-color: transparent;
	}

	&.nav-pills > li > a:hover,
	&.nav-pills > li > a:focus {
		color: $colorC;
		-webkit-transition: color 0.3s;
		background-color: transparent;
	}

}
