@charset "utf-8";

ul.social {

	margin: 10px auto;
	list-style: none;
	vertical-align: middle;
	padding: 5px 0;

	li {

		float: right;
		padding: 8px;

		&.social-link {

			background-color: transparent;
			border-color: transparent;

			i {
				vertical-align: top;
				width: 20px;
				height: 20px;
			}

			i.fa {
				font-size: 1.5em;
				color: transparentize(white, 0.7);
			}

			i.fa.fa-npm {
				padding-top: 1px;
				font-size: 1.25em;
			}

			&:hover i.fa {
				-webkit-transition: color 0.3s;
				color: transparentize(white, 0.8);
			}

		}

	}

}
