/** Benchmark styles **/
html,body,div,p,section,a,ul,li,h1,h2,h3,h4,h5 { font-family: Helvetica, Arial; font-size: 100%; margin: 0; padding: 0; }

h3.title {
	background-color: #e1e1e1;
	padding: 10px;
	border-bottom: 1px solid #d1d1d1;
	margin-bottom: 10px;
	font-size: 24px;
	font-weight: bold;
}

h4.subtitle {
	padding: 10px;	
	font-size: 20px;
	font-weight: bold;
}

div {
	margin: 10px;
	background-color: #e1e1e1;
}

div h5 {
	font-size: 14px;
	padding: 5px;	
}