<ul class="social list-group col-xs-2 pull-right">
	<li class="social-link twitter">
		<a class="small" href="https://twitter.com/patokuakman" target="_blank">
			<i class="fa fa-twitter"></i>
		</a>
	</li>
	<li class="social-link npm">
		<a class="small" href="https://npmjs.com/package/boneyard" target="_blank">
			<i class="fa fa-npm"></i>
		</a>
	</li>
	<li class="social-link github">
		<a class="small" href="https://github.com/{{ site.github_username }}" target="_blank">
			<i class="fa fa-github"></i>
		</a>
	</li>
</ul>
